html, body{
	width: 100%;
	position: absolute;
	background-color: #0B6AA4;
}
#content{
	max-width: 1200px;
	height: 100%;
	margin: 50px auto;
	padding: 30px;
	background-color: white;
}
#cover-draft, #cover-final{
	border: 2px dashed black;
	padding: 0 10px;
	margin: 0 10px;
}

/*div{
	border: 1px dotted black;
}*/

.paragraph-check{
	margin: auto;
}
.snippet-list{
	padding: 2px 5px;
	border-bottom: 1px solid black;
}

.snippet-list:last-child{
	border-bottom: none;
}
#snippet-controls{

}
#snippet-list-box{
	margin: 0 auto;
	border: 5px solid black;
	width: 100%;
	max-width: 300px;
}

.inactive{
	color: #c4c4c4;
}