<!DOCTYPE html>
<html lang="en" ng-app="coverLetterApp">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="bower_components/ng-sortable/dist/ng-sortable.min.css">
  <link rel="stylesheet" href="css/main.css">

  <script src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="bower_components/ng-sortable/dist/ng-sortable.min.js"></script>
  <!--<script src="data/data.js"></script>-->
  <script src="js/controllers.js"></script>

</head>

<body ng-controller="CoverBuilderController">
  <div id="content">
    <h1>Cover Letter Generator</h1>
    <div class="contrainer-fluid">
      <div class="row">

        <div class="col-md-6">
          <div id="cover-draft">
            <h2>Draft</h2>
            <div data-sortable="dragControlListeners" data-ng-model="bodySentences">
	            <div ng-repeat="sentence in bodySentences" data-sortable-item>
	            	<div data-sortable-item-handle>{{sentence.text}}</div>
	            </div>
            </div>
            <ul class="snippet-list" data-sortable="dragControlListeners" data-ng-model="snippets">
              <li ng-repeat="snippet in snippets" data-sortable-item>
              	<div data-sortable-item-handle>
                 {{snippet.text}}
                </div>
              </li>
            </ul>
            <div data-sortable="dragControlListeners" data-ng-model="endingSentences">
	            <div ng-repeat="sentence in endingSentences" data-sortable-item>
	            	<div data-sortable-item-handle>{{sentence.text}}</div>
	            </div>
            </div>

          </div>
        </div>
<!-- 
        <div id="snippet-controls" class="col-md-2">
          <ul id="snippet-controls-list">
            <li>
              <h4>Skills list:</h4>
            </li>
            <li ng-repeat="snippet in snippets">
              {{snippet.name}}
            </li>
          </ul>
        </div> -->

        <div class="col-md-6" ng-switch on="prettyView" ng-init="prettyView = false">
          <div id="cover-final">
            <h2>Final </h2> 

            <div id="drop-view" ng-switch-when=false>

            	<div id="end-version-beginning-sentences" class="drop-section" data-sortable="dragControlListeners" data-ng-model="endVersion.beginningSentences">
	            	<span ng-repeat="sentence in endVersion.beginningSentences" data-sortable-item>
		            	<span data-sortable-item-handle>{{sentence.text}}</span>
		            </span>
            	</div>
	            <ul class="snippet-list drop-section" data-sortable="dragControlListeners" data-ng-model="endVersion.snippets">
	              <li class="endVersion" ng-repeat="snippet in endVersion.snippets" data-sortable-item>
	              	<div data-sortable-item-handle>
	                 {{snippet.text}}
	                </div>
	              </li>
	            </ul>
            	<div id="end-version-ending-sentences" class="drop-section" data-sortable="dragControlListeners" data-ng-model="endVersion.endingSentences">
	            	<span ng-repeat="sentence in endVersion.endingSentences" data-sortable-item>
		            	<span data-sortable-item-handle>{{sentence.text}}</span>
		            </span>
            	</div>
            </div>

            <div id="pretty-view" ng-switch-when=true>
	            <span ng-repeat="sentence in endVersion.beginningSentences" ng-hide="sentence.hide">{{sentence.text}}</span>

	            <ul class="snippet-list">
	              <li ng-repeat="snippet in endVersion.snippets" ng-hide="snippet.hide">
	                {{snippet.text}}
	              </li>
	            </ul>
	            <div ng-repeat="sentence in endVersion.endingSentences" ng-hide="sentence.hide">
	              <p>{{sentence.text}}</p>
	            </div>
            </div>

            <button ng-click="prettyView = !prettyView">{{prettyView ? "Edit View" : "Pretty View"}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
